
.social-image {
    height:30px;
}
.image-container {
    position: relative;
    width:600px;
    height: 600px;
    overflow: hidden;
}
.half-image {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    transition: transform 0.5s;
    transform: translateX(0);
    display: flex;
    justify-content: center;
    align-items: center;
    /*transform: scaleX(1);*/
    clip-path:polygon(0 0, 50% 0, 50% 100%, 0% 100%);


}
.half-image img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.5s;
}

#animated {
    left:0;
}

#original {
    left:0;
    clip-path:polygon(100% 0, 50% 0, 50% 100%, 100% 100%);
}

#animated:hover {
    /*transform: translateX(50%);*/
    clip-path:polygon(0 0, 100% 0, 100% 100%, 0% 100%);

}
#original:hover {
    /*transform: translateX(-50%);*/
    clip-path:polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

