/* Import global styles (assuming you have a global.css file) */
/* @import "../global/"; */

/* .project */
.project {
    background-color:#f9f9f9;
    padding: 15rem 0;
}

@media (max-width: 1020px) {
    .project {
        padding: 8rem 0;
    }
}

/* .project-content */
.project-content {
    display: flex;
    flex-direction: column;
}

@media (max-width: 600px) {
    .project-content {
        text-align: center;
    }
}

.project-content p {
   color:#333;
    font-size:1.6rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 1rem;
}

.project-content h3 {
    font-size:2rem;
    color:#000;
    margin-bottom: 6rem;
}

/* .projects-grid */
.projects-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    width: 100%;
    height: auto;
    gap: 5rem;
}

.projects-grid .pro {
    display: flex;
    background-color: white;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
    border-radius: 1.7rem;
}

.projects-grid .pro__1 {
    height: 40rem;
    flex-direction: row;
    padding: 2rem;
    gap: 8rem;
}

@media (max-width: 1020px) {
    .projects-grid .pro__1 {
        height: 75rem;
        flex-direction: column !important;
        gap: 3rem;
        width: fit-content;
        margin: 0 auto;
    }
}

@media (max-width: 400px) {
    .projects-grid .pro__1 {
        width: 100%;
    }
}

/* .pro__img */
.pro__img {
    width: 53rem;
    height: auto;
    border-radius: 1.7rem;
    background-color: #76767633;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
}

@media (max-width: 650px) {
    .pro__img {
        width: 100%;
    }
}

.pro__img img {
    width: 100%;
    height: auto;
}

/* .pro__text */
.pro__text {
    display: flex;
    width: 30rem;
    height: auto;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

@media (max-width: 1020px) {
    .pro__text {
        margin: 0 auto;
    }
}

@media (max-width: 400px) {
    .pro__text {
        width: 100%;
    }
}

.pro__text img {
    width: 7rem;
    position: absolute;
    top: -2px;
    right: -19px;
}

.pro__text h3 {
    font-size:1.6rem;
    text-transform: uppercase;
    color:#000;
    margin-bottom: 2rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
}

.pro__text p {
    font-size:1.6rem;
    color:#555555;
    text-align: center;
    text-transform: none;
    font-weight: 500;
}

/* .stack */
.stack {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 1rem;
}

.stack p {
    color: black;
   font-weight: 600;
    background-color: white;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
    padding: 1rem 1.3rem;
    font-family:"Mulish", sans-serif;
}

/* .links */
.links {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;
    gap: 1rem;
    align-items: center;
}

.links a {
    font-size:1.6rem;
    color:#000;
    font-weight:500;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
}

.links a i {
    font-size: 2.8rem;
}

.links a .link-icon {
    font-size: 2rem !important;
}

.links a img {
    width: 3.5rem;
}

.links a:hover {
    color:#333;
    transition: all 0.3s;
}

/* .reversed-proj */
.reversed-proj {
    flex-direction: row-reverse !important;
}

/* .container */
.container {}
@media (max-width: 460px) {
    .container {
        padding: 0 1.7rem;
    }
}

/* .new-projects */
.new-projects {
    font-size: 2.6rem;
    text-align: center;
    color:#000;
}

/* .date-class */
.date-class {
    font-size: 1.4rem;
    color:#161414c5;
    margin-left: 0.2rem;
}
